<%= form_for @creature do |f| %>
  <span>Creature Name: </span>
  <%= f.text_field :name, required: true %><br>
  <span>Description: </span>
  <%= f.text_field :description, required: true %><br>
  <button class='btn'>Save the Creature</button>
  <!-- #<%= f.submit "Save Creature" %> -->
<% end %>
