<!DOCTYPE html>
<html>
  <head>
    <title>BogApp4</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav style="margin-bottom: 20px">
    <div class="nav-wrapper">
      <img class="brand-logo" style="height: 100%; padding-left: 20px" src="https://img00.deviantart.net/85b0/i/2014/257/c/0/marvel_logo_by_jmk_prime-d7z0vj3.png">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/creatures/new">NEW CHARACTER</a></li>
        <li><a href="/creatures">HOME</a></li>
      </ul>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
